<div class="cart__empty align--middle-center">
  <div class="wrapper">
     <p class="h4--body m0 custom_cart_empty">YOUR CART IS EMPTY</p>
    <p class="sub_empty_style">{{ 'cart.general.subempty' | t }}</p>
    <div class="cart_suggestion_style">
      {% for block in section.blocks limit: 2 %}
      <div class="cart_suggestion_collection">
      <a href="{{ block.settings.prod.url }}"
          ><img
            style="width:80%; height:70%"
            src=" {{ block.settings.prod.products.first | image_url }}"
            alt="{{ block.settings.prod.title }}"
        ></a>
        <h4 class="collection_heading_style">
          <a class="collection_title_style" href="{{ block.settings.prod.url }}">{{ block.settings.prod.title }}</a>
          <a class="collection_subtitle_style" href="{{ block.settings.prod.url }}">
            {{- block.settings.prod.products_count }} products</a
          >
        </h4>
        <p>{{ product.price | money }}</p>
      </div>
    {% endfor %}
    </div>
    <div class="left_section">
      <div class="rating">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="rating-text">4.8</span>
      </div>
      <div class="heading_text">Best Baby Formula</div>
      <div class="subheading_text1">
        Order came instantly! HiPP was our favourite formula however all formulas are high quality here.
      </div>
      <div class="subheading_text2">-Marcella. S (Verified Buyer)</div>
    </div>
    <div>
      <button class="button_right"><a href="/collections/all">SHOP ALL BABY FORMULAS</a></button>
      <div class="bottom_text">Free Shipping On US Orders Over $100.</div>
    </div>
  </div>
</div>